.main {
  /* text-align: center; */
  background-color: #201f1f;
}

.heading {
  font-size: 45px;
  margin: 20px 0 0;
  padding: 0;
  color : #7966d7
}

.subHeading {
  margin-top: 0;
  font-size: 24px;
  font-weight: 600;
  color : #7966d7

}
